In [78]:
import pandas as pd
import numpy as np 
import plotly.express as px 
import chart_studio.plotly as py 
import cufflinks as cf
import seaborn as sns
import matplotlib.pyplot as plt
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot 
init_notebook_mode(connected=True)
cf.go_offline()

In [79]:
import dash 
from dash import dcc  
import dash_html_components as html 
from dash.dependencies import Input, Output
import plotly.graph_objects as go

# Starting the Dash app

In [80]:
app = dash.Dash(__name__)

# Importing and cleaning the data

In [81]:
df = pd.read_csv('Data/bees.csv')

In [82]:
df

,Program,Year,Period,State,ANSI,Affected by,Pct of Colonies Impacted,state_code
0,SURVEY,2019,JAN THRU MAR,Alabama,1,Disease,1.8,AL
1,SURVEY,2019,JAN THRU MAR,Alabama,1,Other,3.1,AL
2,SURVEY,2019,JAN THRU MAR,Alabama,1,Pesticides,0.3,AL
3,SURVEY,2019,JAN THRU MAR,Alabama,1,Pests_excl_Varroa,22.7,AL
4,SURVEY,2019,JAN THRU MAR,Alabama,1,Unknown,9.0,AL
...,...,...,...,...,...,...,...,...
4585,SURVEY,2015,OCT THRU DEC,Wyoming,56,Other,11.3,WY
4586,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pesticides,10.5,WY
4587,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pests_excl_Varroa,3.3,WY
4588,SURVEY,2015,OCT THRU DEC,Wyoming,56,Unknown,3.9,WY
4589,SURVEY,2015,OCT THRU DEC,Wyoming,56,Varroa_mites,45.0,WY

In [83]:
df = df.groupby(['State', 'ANSI', 'Affected by', 'Year', 'state_code'])[['Pct of Colonies Impacted']].mean()

In [84]:
df

                                           Pct of Colonies Impacted
State   ANSI Affected by  Year state_code
Alabama 1    Disease      2015 AL                             0.050
                          2016 AL                             1.200
                          2017 AL                             2.250
                          2018 AL                             1.300
                          2019 AL                             1.800
...                                                             ...
Wyoming 56   Varroa_mites 2015 WY                            23.375
                          2016 WY                            19.475
                          2017 WY                            23.525
                          2018 WY                            22.425
                          2019 WY                             0.700

[1350 rows x 1 columns]

In [85]:
df.reset_index(inplace=True)

In [86]:
df.head(10)

     State  ANSI Affected by  Year state_code  Pct of Colonies Impacted
0  Alabama     1     Disease  2015         AL                     0.050
1  Alabama     1     Disease  2016         AL                     1.200
2  Alabama     1     Disease  2017         AL                     2.250
3  Alabama     1     Disease  2018         AL                     1.300
4  Alabama     1     Disease  2019         AL                     1.800
5  Alabama     1       Other  2015         AL                     4.325
6  Alabama     1       Other  2016         AL                     4.275
7  Alabama     1       Other  2017         AL                     6.325
8  Alabama     1       Other  2018         AL                     7.300
9  Alabama     1       Other  2019         AL                     3.100

# App layout

In [87]:
app.layout = html.Div([

    html.H1('Web App Dashboards with Dash', style={'text-align': 'center'}), 

    dcc.Dropdown(
    
    id = 'slct_year', 
    options = [
        {'label': '2015', 'value': 2015},
        {'label': '2016', 'value': 2016},
        {'label': '2017', 'value': 2017},
        {'label': '2018', 'value': 2018}],
        multi=False, 
        value=2015, 
        style={'width': '40%'} 
    ), 

    html.Div(id = 'output_container', children=[]), 
    html.Br(), 

    dcc.Graph(id = 'my_bee_map', figure={})
])

# Connect the plotly graphs with dash components

In [88]:
@app.callback(
    [Output(component_id='output_container', component_property='children'), 
     Output(component_id='my_bee_map', component_property='figure')], 
    [Input(component_id='slct_year', component_property='value')]
)

def update_graph(option_slct):
    print(option_slct)
    print(type(option_slct))

    container = 'The year chosen by user was: {}'.format(option_slct)

    dff = df.copy()
    dff = dff[dff['Year'] == option_slct]
    dff = dff[dff['Affected by'] == 'Varroa_mites']

    # Plotly Express

    fig = px.choropleth(
        data_frame=dff, 
        locationmode='USA-states', 
        locations='state_code', 
        scope='usa', 
        color='Pct of Colonies Impacted', 
        hover_data=['State', 'Pct of Colonies Impacted'], 
        color_continuous_scale=px.colors.sequential.Electric, 
        labels={'Pct of Colonies Impacted': '% of Bee Colonies'}, 
        template='seaborn'
    )
    fig.update_layout(height=600)

    return container, fig

# Run the app

In [91]:
if __name__ == '__main__':
    app.run()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
2015
<class 'int'>
2016
<class 'int'>
2018
<class 'int'>

: